
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        table {
            text-align: center;
            margin: auto;
            margin-top: 50px;
            border-color: white;
        }
        body {
            background-image: url('../../content/timebgms.jpg');
            background-size:cover;
        }
        lablel{
            color:white;
        }
        tr {
            color: white;
        }
        input{
           color:black;
           text-align:center;
        }
       #tbl2{
           background-color:black;
        }
        #btnsubmit {
            background-color:white;color:black;border:none;
        }
    </style>
</head>
<body>
    <div>
        <table width="200" height="100">
            <tr>
                <td><label>CountryName:</label></td>
                <td><input id="txtcountryname" /></td>
            </tr>
            <tr>
                <td><label>ContryCode:</label></td>
                <td><input id="txtcode" /></td>
                <td hidden="hidden"><input id="txtid"></td>
            </tr>
            <tr>
                <td></td>
                <td><button id="btnsubmit">Submit</button></td>
            </tr>
        </table>
        <label id="lblmsg" style="color:Red"></label>
    </div>
    <div>
        <table id="tbl2" width="500" height="300" border="1">
            <tr>
                <th hidden="hidden">Id</th>
                <th>countryname</th>
                <th>countrycode</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td id="tdid" hidden="hidden">@item.Id</td>
                    <td id="tdname">@item.countryName</td>
                    <td id="tdcode">@item.countryCode</td>
                    <td><button id="btnedit" style="border: none; color: white; background-color: black;">Edit</button></td>
                    <td><button id="btndelete" style="border: none; color: white;background-color:black;">Delete</button></td>
                </tr>
            }
        </table>
    </div>
    @*@Html.Partial("Login")
        @Html.Partial("Login")*@
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnsubmit").click(function () {
                let newdata = {
                    countryName: $('#txtcountryname').val(),
                    countryCode: $('#txtcode').val()
                }
                if ($('#btnsubmit').html() == "Submit") {
                    $.ajax({
                        type: 'Post',
                        url: '/Me/CountryData',
                        data: newdata,
                        success: function (result) {
                            if (result == 0) {
                                $('#lblmsg').html("Saved succesfully...");
                                $('#lblmsg').css('color', 'green');
                                location.reload();
                            }
                            else {
                                $('#lblmsg').html("Countryname or code already exist...");
                                $('#lblmsg').css('color', 'red');
                            }
                        },
                        error: function () {
                            alert("fail...");
                        }
                    })
                }
                else if ($('#btnsubmit').html() == "Update") {
                    let data = {
                        Id: $('#txtid').val(),
                        countryName: $('#txtcountryname').val(),
                        countryCode: $('#txtcode').val()
                    }
                    $.ajax({
                        type: 'Post',
                        url: '/Me/Edit',
                        data: data,
                        success: function () {
                            $('#lblmsg').html('Updated successfully...');
                            $('#lblmsg').css('color', 'Green');
                            location.reload();
                        },
                        error: function () {
                            alert("fail...");
                        }
                    })
                }
                else if ($('#btnsubmit').html()=="Delete") {
                    let data = {
                        Id: $('#txtid').val()
                    }
                    $.ajax({
                        type: 'Post',
                        url: '/Me/Delete',
                        data: data,
                        success: function (result) {
                            if (result == 1) {
                                alert("Deleted successfully...");
                                location.reload();
                            }
                            else {
                                alert("Can't be deleted...");
                            }
                        },
                        error: function(){
                            alert("Failed...");
                            }
                        })
                }
            })
            $('#tbl2').on('click', '#btnedit', function () {
                let id = $(this).closest('tr').find('#tdid').text();
                let name = $(this).closest('tr').find('#tdname').text();
                let code = $(this).closest('tr').find('#tdcode').text();
                $('#txtid').val(id);
                $('#txtcountryname').val(name);
                $('#txtcode').val(code);
                $('#btnsubmit').html("Update");
            })
            $('#tbl2').on('click', '#btndelete', function () {
                let id = $(this).closest('tr').find('#tdid').text();
                let name = $(this).closest('tr').find('#tdname').text();
                let code = $(this).closest('tr').find('#tdcode').text();
                $('#txtid').val(id);
                $('#txtcountryname').val(name);
                $('#txtcode').val(code);
                $('#btnsubmit').html("Delete");
            })
        })
    </script>
</body>
</html>
