
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
    <style>        h1 {
            text-align:center;
          
        }
        div{
            text-align:center;
           
        }
        body {
            background-color:black;
            
        }
        input {
            text-align:center;
        }
    </style>
</head>
<body>
    <div>
        <h1 style="background-color:white">LogIn</h1>
        <label style="background-color:white">UserName</label><br />
        <input type="text" id="txtUname" placeholder="....username...." /><br />
        <label style="background-color:white">Password</label><br />
        <input type="text" id="txtPword" placeholder="**********" /><br />
        <button id="btnlogin">Login</button>
    </div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        $(document).ready(function () {
            $('#btnlogin').click(function(){
                let logindata = {
                    'UserName': $('#txtUname').val(),
                    'Password': $('#txtPword').val()

                }
                $.ajax({
                    type: "Post",
                    url: '/My/login',
                    data: logindata,
                    success: function (dt) {
                        if (dt == true) {
                            alert("login successfully");
                            location.replace("Home");
                        }
                        else {
                            alert("login error");
                        }
                       
                    },
                    error: function () {
                        alert("fail");
                    }
                })
            })
           
          

        })
    </script>
</body>
</html>

