
@{
    ViewBag.Title = "Yogi";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - Container Follow mouse</title>
    <link href="~/Content/style.css" rel="stylesheet" />

</head>
<body>
    <!-- partial:index.partial.html -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>


    <div id="container">
        <div id="inner">
            <div class="content">Bhaskar</div>
        </div>
    </div>
    <!-- partial -->
    <script src="~/Scripts/script.js"></script>

</body>
</html>

